.list-container {
  padding: 0 55px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  // justify-content: center;
}

.list-header {
  font-size: 32px;
  font-weight:400;
  letter-spacing: 1px;
}

.empty-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: #666;
  font-size: 18px;
}

.for-list {
  padding: 0 0;
  top: 50px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}